<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.wwq.car.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="edu.wwq.car.model.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="license_plate_num" property="licensePlateNum" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="product_date" property="productDate" jdbcType="DATE" />
    <result column="purchase_date" property="purchaseDate" jdbcType="DATE" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="load_weight" property="loadWeight" jdbcType="DOUBLE" />
    <result column="car_type_id" property="carTypeId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, license_plate_num, manufacturer, product_date, purchase_date, purchase_price, 
    load_weight, car_type_id, `status`, is_deleted
  </sql>
  <select id="getCarById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_car
    where
    is_deleted = 0
    AND id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="edu.wwq.car.model.Car" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="licensePlateNum != null" >
        license_plate_num,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="purchaseDate != null" >
        purchase_date,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="loadWeight != null" >
        load_weight,
      </if>
      <if test="carTypeId != null" >
        car_type_id,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="licensePlateNum != null" >
        #{licensePlateNum,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=DATE},
      </if>
      <if test="purchaseDate != null" >
        #{purchaseDate,jdbcType=DATE},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="loadWeight != null" >
        #{loadWeight,jdbcType=DOUBLE},
      </if>
      <if test="carTypeId != null" >
        #{carTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="edu.wwq.car.model.Car" >
    update tb_car
    <set >
      <if test="licensePlateNum != null" >
        license_plate_num = #{licensePlateNum,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=DATE},
      </if>
      <if test="purchaseDate != null" >
        purchase_date = #{purchaseDate,jdbcType=DATE},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="loadWeight != null" >
        load_weight = #{loadWeight,jdbcType=DOUBLE},
      </if>
      <if test="carTypeId != null" >
        car_type_id = #{carTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="update" parameterType="java.lang.Integer" >
    update tb_car
    <set >
      is_deleted = 1
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>